.contact-form__consent {
  &-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }

  &-header {
    display: flex;
    flex-direction: row;
    gap: 1.6rem;
    align-items: center;
  }

  &-checkbox {
    appearance: none;
    display: flex;
    margin: 0.6rem;
    width: 1.8rem;
    height: 1.8rem;
    border: 0.15rem solid var(--grey-500);
    border-radius: 0.2rem;

    &:checked {
      background-image: url('./assets/images/icon-checkbox-check.svg');
      background-size: cover;
      border: none;
    }

    &:focus {
      outline: 0.3rem solid var(--accent);
    }
  }
}