@use '../utils/' as u;

.contact-form {
  padding: 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  background-color: var(--white);
  border-radius: 1.6rem;

  &__body-wrapper {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
  }

  &__error-message {
    display: none;
  }

  @include u.breakpoint(medium) {
    padding: 4rem;
  }
}