@use '../utils/' as u;

.contact-form__field {
  &-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }

  &-input {
    padding: 1.2rem 2.4rem;
    border: 0.1rem solid var(--grey-500);
    border-radius: 0.8rem;
    transition: border-color 0.3s ease-out;

    &:hover {
      border-color: var(--green-600);
    }

    &:focus {
      outline: 0.3rem solid var(--accent);
    }
  }

  &--textarea {
    resize: none;
    height: calc(1.5em * 9);

    @include u.breakpoint(medium) {
      height: calc(1.5em * 5);
    }

    @include u.breakpoint(large) {
      height: calc(1.5em * 4);
    }
  }
}

.contact-form__fields-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}