*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0rem;
  padding: 0rem;
}

img {
  max-inline-size: 100%;
  block-size: auto;
}

body {
  min-height: 100vh;
  background-color: var(--green-200);
}

input[type=text],
textarea {
  font-family: inherit;
}

:root {
  --green-200: hsl(148, 38%, 91%);
  --green-600: hsl(169, 82%, 27%);
  --red: hsl(0, 66%, 54%);
  --white: hsl(0, 0%, 100%);
  --grey-500: hsl(186, 15%, 59%);
  --grey-900: hsl(187, 24%, 22%);
  --accent: #063F34;
}

.color-green-200 {
  color: var(--green-200);
}

.color-green-600 {
  color: var(--green-600);
}

.color-red {
  color: var(--red);
}

.color-white {
  color: var(--white);
}

.color-grey-500 {
  color: var(--grey-500);
}

.color-grey-900 {
  color: var(--grey-900);
}

@font-face {
  font-family: "Karla";
  src: url("./assets/fonts/Karla-VariableFont_wght.ttf");
}
:root {
  font-family: "Karla", serif;
  font-optical-sizing: auto;
  font-size: 62.5%;
}

.text-heading {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -0.1rem;
}

.text-body-m-bold {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0rem;
}

.text-body-m {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0rem;
}

.text-body-s {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0rem;
}

.grid {
  padding: 3.2rem 1.6rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.4rem;
}
.grid__item {
  grid-column: 1/5;
}
@media (width >= 46.875rem) {
  .grid {
    padding: 12.8rem 3.9rem;
    grid-template-columns: repeat(8, 7.2rem);
    gap: 1.6rem;
    justify-content: center;
  }
  .grid__item {
    grid-column: 1/9;
  }
}
@media (width >= 75rem) {
  .grid {
    grid-template-columns: repeat(12, 6.4rem);
    gap: 3.2rem;
  }
  .grid__item {
    grid-column: 3/11;
  }
}

.contact-form__submit-button {
  width: 100%;
  padding: 1.6rem 0rem;
  text-align: center;
  background-color: var(--green-600);
  border: none;
  border-radius: 0.8rem;
}
.contact-form__submit-button:hover {
  cursor: pointer;
  background-color: var(--accent);
}
.contact-form__submit-button:focus {
  outline-color: var(--accent);
  outline-style: solid;
  outline-width: 0.3rem;
}

.contact-form__consent-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.contact-form__consent-header {
  display: flex;
  flex-direction: row;
  gap: 1.6rem;
  align-items: center;
}
.contact-form__consent-checkbox {
  appearance: none;
  display: flex;
  margin: 0.6rem;
  width: 1.8rem;
  height: 1.8rem;
  border: 0.15rem solid var(--grey-500);
  border-radius: 0.2rem;
}
.contact-form__consent-checkbox:checked {
  background-image: url("./assets/images/icon-checkbox-check.svg");
  background-size: cover;
  border: none;
}
.contact-form__consent-checkbox:focus {
  outline: 0.3rem solid var(--accent);
}

.contact-form__field-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.contact-form__field-input {
  padding: 1.2rem 2.4rem;
  border: 0.1rem solid var(--grey-500);
  border-radius: 0.8rem;
  transition: border-color 0.3s ease-out;
}
.contact-form__field-input:hover {
  border-color: var(--green-600);
}
.contact-form__field-input:focus {
  outline: 0.3rem solid var(--accent);
}
.contact-form__field--textarea {
  resize: none;
  height: 13.5em;
}
@media (width >= 46.875rem) {
  .contact-form__field--textarea {
    height: 7.5em;
  }
}
@media (width >= 75rem) {
  .contact-form__field--textarea {
    height: 6em;
  }
}

.contact-form__fields-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.contact-form__options-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  border: none;
}
.contact-form__options-body {
  margin-top: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
@media (width >= 46.875rem) {
  .contact-form__options-body {
    flex-direction: row;
  }
}

.contact-form__option-label {
  flex-grow: 1;
  border: 0.1rem solid var(--grey-500);
  border-radius: 0.8rem;
  padding: 1.2rem 2.4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.2rem;
  transition: all 0.3s ease-out;
}
.contact-form__option-label:hover {
  cursor: pointer;
  border-color: var(--green-600);
}
.contact-form__option-label:has(.contact-form__option-radio:checked) {
  background-color: var(--green-200);
}
.contact-form__option-radio {
  appearance: none;
  display: flex;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 0.1rem solid var(--grey-500);
}
.contact-form__option-radio:checked {
  background-image: url("./assets/images/icon-checkbox-check.svg");
  background-size: cover;
  border-color: var(--green-600);
}
.contact-form__option-radio:focus {
  outline: 0.3rem solid var(--accent);
}

.contact-form {
  padding: 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  background-color: var(--white);
  border-radius: 1.6rem;
}
.contact-form__body-wrapper {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
.contact-form__error-message {
  display: none;
}
@media (width >= 46.875rem) {
  .contact-form {
    padding: 4rem;
  }
}

/*# sourceMappingURL=index.css.map */
