@use './util.scss' as u;

.Radios {
  display: flex;
  flex-direction: column;
  border: none;

  &__title {
    @include u.text-body-s();

    &::after {
      content: ' *';
      color: var(--green-600);
    }
  }

  &__body {
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    & > * {
      flex-grow: 1;
    }
  }

  &__error-message {
    display: none;
    @include u.text-body-s();
    color: var(--red);
  }

  &--error {
    .Radios__error-message {
      display: inherit;
    }
  }

  @include u.breakpoint(medium) {
    &__body {
      flex-direction: row;
    }
  }
}

.Radio {
  @include u.text-body-m(400);
  padding: 1.2rem 2.4rem;
  display: flex;
  flex-direction: row;
  gap: 1.2rem;
  align-items: center;
  border: 0.1rem solid var(--grey-500);
  border-radius: 0.8rem;
  cursor: pointer;
  transition: border-color 0.3s ease-out;

  &:hover {
    border-color: var(--green-600);
  }

  &:has(.Radio__body:checked) {
    background-color: var(--green-200);
  }

  &__body {
    appearance: none;
    margin: 0.4rem;
    width: 2rem;
    height: 2rem;
    border: 0.2rem solid var(--grey-500);
    border-radius: 50%;

    &:checked {
      border: none;
      background-image: url('../assets/images/icon-radio-selected.svg');
      background-size: cover;
      background-position: center;
    }
  }
}