@use './util.scss' as u;

.Screen {
  min-height: 100vh;
  background-color: var(--green-200);
  padding: 3.2rem 1.6rem;
  display: grid;

  @include u.breakpoint(medium) {
    padding: 12.8rem 0rem;
    grid-template-columns: repeat(8, 7.2rem);
    gap: 1.6rem;
    justify-content: center;
    align-items: center;
  }

  @include u.breakpoint(large) {
    grid-template-columns: repeat(12, 6.4rem);
    gap: 3.2rem;
  }

  &__content {
    @include u.breakpoint(medium) {
      grid-column: 1 / 9;
    }

    @include u.breakpoint(large) {
      grid-column: 3 / 11;
    }
  }
}